/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   height: 100%;
   background-color: #375982;
 }
 body {
   color: black;
   text-align: left;
 }

 .user-info {
  margin-top: 9px;
 }

 .nav {
  margin-top: 5px;
 }

.half-tone {
  color: #eee;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.media-heading {
  color: white;
}

.js-items-count {
  color: white;
}

.navbar .nav > li > a {
    text-decoration: none;
    color:  white;
}

.navbar .nav > li > a:hover {
    color:  black;
}

.navbar .navbar-toggle .icon-bar {
    background-color: white !important;
}

h2, p {
  color: white;
}

.jumbotron {
  h1, p {
    color: white;
  }
  background: #000 url(checklist.jpeg) center right;
  background-size: cover;
}
